@import url('bootstrap');

body {
    font-family: 'Open Sans Variable', sans-serif;
    color: black;
}

#section_black {
    min-height: 10vh;
    font-size: 2rem;

}

footer {
    background-image: url("./assets/img/footer-bg.jpg");
}

#second-section-footer {
    background-color: #303030;

}

p {
    padding: 5rem;
}

.banner {
    background-image: url('./assets/img/jumbotron.jpg');
    min-height: 38vh;
}