@import url('bootstrap');

body {
    font-family: 'Open Sans Variable', sans-serif;
    color: black;
}

#section_black {
    min-height: 10vh;
    font-size: 2rem;

}

footer {
    background-image: url("./assets/img/footer-bg.jpg");
    min-height: 100%;

}

#second-section-footer {
    background-color: #303030;

}



.banner {
    background-image: url('./assets/img/jumbotron.jpg');
    width: 100%;
    min-height: 400px;
}

.testo-stretto {
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
}



main {
    background-color: #1c1c1c;

    .etichetta {
        padding: 1px;
        width: 100px;
        position: relative;
        left: 300px;
    }

    button {
        border-radius: 0px !important;
        width: 17%;
        font-weight: 700 !important;
        font-size: 20px !important;
        letter-spacing: -2px;
    }

    img {
        height: 190px;
    }
}