@import url('bootstrap');

body {
    font-family: 'Open Sans Variable', sans-serif;
    color: black;
}

#section_black {
    min-height: 15vh;
    font-size: 2rem;

}

#first-section-footer {
    background-image: url("./assets/img/footer-bg.jpg");
}

footer {
    background-color: #303030;
    min-height: 70vh;
}

p {
    padding: 5rem;
}